body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    background: #DCEFE8;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.rectangulo2{
    width: 400px;
    height: 60px;
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;

}
    
.rectangulo1,
.rectangulo3 {
    width: 400px;           
    height: 60px;           
    margin: 10px 0;
    display: flex;
    align-items: center;  
    box-sizing: border-box;
    position: relative;
    border-radius: 15px;
   
}
  
input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    padding-right: 40px;
    border-radius: 15px;
}
  
::placeholder {
    font-size: 20px;
}
  
.btn {
    margin: 20px 0;
    padding: 10px 30px;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
border: 1px solid #252626;
background: #009E8B;
    
} 
  


.registrar {
    margin-top: 10px;
    font-size: 16px;
    border-radius: 15px;
} 

.toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
  }
  
  .toggle svg {
    width: 24px;
    height: 24px;
    color: #555;
  }
  
