body{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
}

.rectangulo1{
    width: 600px;
height: 418px;
flex-shrink: 0;
border-radius: 0 0 40px 40px;
border: 3px solid #000;
background: #FFF;
.cuadrito1{
    width: 600px;
height: 124px;
flex-shrink: 0;
border-radius: 50px 50px 0 0;
border-top: 5px solid #000;
border-right: 5px solid #000;
border-left: 5px solid #000;
background: #FFF;
position: absolute;
top: 296px;
left: 142px;
}
}

.rectangulo2{
    width: 600px;
    height: 418px;
    flex-shrink: 0;
    border-radius: 0 0 40px 40px;
    border: 3px solid #000;
    background: #FFF;
    .cuadrito{
        width: 600px;
    height: 124px;
    flex-shrink: 0;
    border-radius: 50px 50px 0 0;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
    border-left: 5px solid #000;
    background: #FFF;
    }
}