body {
  font-family: Arial;
  font-family: "Poppins", sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0; 
  margin: -20px 0 50px;
}

.rectangulo1 {
  width: 400px;           
  height: 60px;           
  background-color: #462c2c;
  margin: 10px 0;
  display: flex;
  align-items: center;  
  box-sizing: border-box; 
}

.rectangulo2 {
  width: 400px;           
  height: 60px;           
  background-color: #462c2c;
  margin: 10px 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-right: 40px;
}

::placeholder {
  font-size: 20px;
}

.btn {
  margin: 20px 0;
  padding: 10px 30px;
  background-color: #555;
  color: white; 
  border: none;
  font-size: 18px;
  cursor: pointer;
} 

.btn:hover {
  background-color: gray; 
}

.registrar {
  margin-top: 10px;
  font-size: 16px;
}  



.toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); 
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle svg {
  width: 24px;
  height: 24px;
  color: #555;
}


.btn {
  margin: 20px 0;
  padding: 10px 30px;
  background-color: #555;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
} 


.btn:hover {
  background-color: gray;
}


.btn-crear-cuenta {
  background-color: #2d88d3; 
}

.btn-crear-cuenta:hover {
  background-color: #2174a3; 
}

.logo{
  width: 367px;
height: 101px;
flex-shrink: 0;
position: absolute;
top: 298px;
left: 769px;
}
